<div class='container jumbotron'>
  <div class='row'>
    <div class='col-md-4'>
      <h1>To-Do List</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 pull-left">
      <input #newToDo class="form-control" placeholder="Enter your new To-Do item." type="text" name="todo"/>
    </div>
    <div class="">
      <button class="btn btn-primary" (click)="addToDo(newToDo)">Add to list</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>To-Do</th>
            <th>Modify To-Do</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of toDoList;">
            <td>
              {{todo.name}}
            </td>
            <td>
              <button class="btn btn-danger" (click)="editToDo()">
                Edit?
              </button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>
