<div id="titleBackdrop" class='container jumbotron'>
  <div class='row'>
    <div id="title" class='col-md-4'>
      <h1 class="display-1">To-Do List</h1>
    </div>
  </div>
</div>

<div id="inputContainer" class="container">
  <div class="row">
    <div class="col-sm-6 pull-left">
      <input #newToDo id="input" class="form-control" placeholder="Enter your new To-Do item." type="text" name="todo"/>
    </div>
    <div class="">
      <button class="btn btn-primary" (click)="addToDo(newToDo)">Add to list</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th id="tableHeaders">To-Do</th>
            <th id="tableHeaders">Modify To-Do</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of toDoList; let key = index">
            <td id="toDoSpacing" *ngIf="todo.completed; else notCompletedToDo">
              <s>
                {{todo.name}}
              </s>
            </td>
            <ng-template #notCompletedToDo>
              <td id="toDoSpacing">
                {{todo.name}}
              </td>
            </ng-template>
            <td>
              <button class="btn btn-danger col-md-offset-3" (click)="editToDo(key)">Edit?</button>
              <button class="btn btn-success col-md-offset-3" (click)="completeToDo(key)">Done?</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
